/* common css */
body{
    font-family: 'Poppins', sans-serif;
}

/* header css */
.color-bg{
    background-color: #264653;
}
.nav-link{
    font-size: 16px;
}
.log_btn{
    background-color: #E76F51;
    width: 91px;
    border-radius: 5px;
}

/* banner css */
.pur_btn{
    background-color: #E76F51;
    width: 168px;
    border-radius: 5px;
}
 /* features bikes css */
 .bike-text{
     color: #E76F51;
     border-bottom: 2px solid #E76F51 ;
 }
 img{
    width: 100%;
 }
 .img{
     cursor: pointer;
 }
 .img:hover{
      filter: grayscale(100%);
 }