/* common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    overflow-x: hidden;
}

/* header css */
.color-bg{
    background-color: #264653;
}
.nav-link{
    font-size: 16px;
}
.log_btn{
    background-color: #E76F51;
    width: 91px;
    border-radius: 5px;
    border: none;
}
 /* features bikes css */
 .bike-text{
     color: #E76F51;
     border-bottom: 2px solid #E76F51 ;
 }
 img{
    width: 100%;
 }
 .img{
     cursor: pointer;
 }
 .img:hover{
      filter: grayscale(100%);
 }

 /* latest area css */
.btn1{
    background-color: #E76F51;
    width: 168px;
    border-radius: 5px;
    border: none;
}
.btn2{
    background-color: white;
    width: 168px;
    border-radius: 5px;
    border: 1px solid #E76F51;
    color: #E76F51;
}
/* Happy Clients says css */
.text{
    color: #E76F51;
}
.filled-star{
    color: #E76F51;
}
.empty-star{
    color: #E76F51;
    clip-path: circle();
}
.user img{
    width: 250px;
}
.user3 img{
    width: 330px;
    clip-path: circle();
}

/* footer css */
footer{
    background-color: black;
}